http://localhost:4000 {
  # Pets service
	reverse_proxy /api/pets 127.0.0.1:3100
  # Adoptions service
	reverse_proxy /api/adoptions 127.0.0.1:3200
  # Websocket
	reverse_proxy /ws 127.0.0.1:3300

  # SPA
  # TODO: 
}
